
.title {
    font-size: 18px;
    color: #1F6ED4;
}

.form-wrapper {
    background: rgb(251,251,251);
    width: 95%;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 5px;
}

.fixed-toolbar {
    background: rgb(251,251,251);
    padding: 5;
    margin-top: 16px;
    border-radius: 16px;
    position: fixed;
    width: 74%;
    z-index: 1;
    top: 0;
}

.editors {
    padding: 1rem;
    border-radius: 1.5rem !important; 
    margin-top: 10%; 
}
